<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.aitransform.mapper.EmployeeMapper">

    <!-- 根据部门层级和部门ID列表查询员工工号列表 -->
    <!-- 注意：查询的部门层级为传入的deptLevel+1，即deptLevel=1时查询department2_id -->
    <select id="getEmployeeNumbersByDeptLevel" resultType="java.lang.String">
        SELECT DISTINCT account
        FROM t_employee
        WHERE expired_date IS NULL
        <choose>
            <when test="deptLevel == 1">
                AND department2_id IN
                <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </when>
            <when test="deptLevel == 2">
                AND department3_id IN
                <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </when>
            <when test="deptLevel == 3">
                AND department4_id IN
                <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </when>
            <when test="deptLevel == 4">
                AND department5_id IN
                <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </when>
            <when test="deptLevel == 5">
                AND department6_id IN
                <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </when>
            <when test="deptLevel == 6">
                AND department7_id IN
                <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </when>
            <when test="deptLevel == 7">
                <!-- 如果deptLevel为7，已经是最高层级，无法再查询下一层 -->
                AND 1 = 0
            </when>
        </choose>
        AND account IS NOT NULL
        AND account != ''
        AND account REGEXP '^[a-z]0[0-9]{7}$'
    </select>

    <!-- 根据部门层级和部门ID列表查询员工工号和职位类 -->
    <!-- 注意：查询的部门层级为传入的deptLevel+1，即deptLevel=1时查询department2_id -->
    <select id="getEmployeesWithCategoryByDeptLevel" resultType="com.huawei.aitransform.entity.EmployeeWithCategoryVO">
        SELECT DISTINCT 
            account AS employeeNumber,
            COALESCE(competence_category, '未知') AS competenceCategory
        FROM t_employee
        WHERE expired_date IS NULL
        <choose>
            <when test="deptLevel == 1">
                AND department2_id IN
                <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </when>
            <when test="deptLevel == 2">
                AND department3_id IN
                <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </when>
            <when test="deptLevel == 3">
                AND department4_id IN
                <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </when>
            <when test="deptLevel == 4">
                AND department5_id IN
                <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </when>
            <when test="deptLevel == 5">
                AND department6_id IN
                <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </when>
            <when test="deptLevel == 6">
                AND department7_id IN
                <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </when>
            <when test="deptLevel == 7">
                <!-- 如果deptLevel为7，已经是最高层级，无法再查询下一层 -->
                AND 1 = 0
            </when>
        </choose>
        AND account IS NOT NULL
        AND account != ''
        AND account REGEXP '^[a-z]0[0-9]{7}$'
    </select>

</mapper>

